.chat-main
  .chat-main__group-info
    .chat-main__group-info__group
      .chat-main__group-info__group__name
      .chat-main__group-info__group__member
        .chat-main__group-info__group__member__list
          member:
        .chat-main__group-info__group__member__name
    .chat-main__group-info__edit
    
  .chat-main__message-list
    = render @messages

  .form
    = form_with model: [@group, @message], html: {class: "new_text"}, local: true do |f|
        .input-erea
          = f.text_field :content, class: 'input-erea__text', placeholder: 'type a message'
          = f.label :image, class: 'input-erea__image' do
            = icon('far', 'image', class: 'input-erea__icon')
            = f.file_field :image, class: 'input-erea__image__file'
        = f.submit 'Send', class: 'input__submit' 

    
    